!!! 5
html
  head
    title= title
    != stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive')
    != javascript_include_tag('jquery', 'bootstrap', 'rails', 'application')
    != csrf_meta_tag()
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href="#") Project Name
          p.navbar-text.pull-right Logged in as 
            a(href="#") #{request.session.user.name}
            \-
            - if(UserIsAuthenticated(request.session.user) == false || request.session.user.__isAnonymousUser == true) {
              a(href="#{path_to.login}") Login
            - } else {
              a(href="#{path_to.logout}") Logout
            - }

    .container
      - var flash = request.flash('info').pop(); if (flash) {
        .alert.alert-info= flash
      - }

      - var flash = request.flash('success').pop(); if (flash) {
        .alert.alert-success= flash
      - }

      - var flash = request.flash('error').pop(); if (flash) {
        .alert.alert-error= flash
      - }

      != body

